/*
	Main CSS
	itflies.ch
	16.09.2024 kom: created new
*/

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600,600italic,700");
@import url("font-awesome.min.css");

/* Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
aside,
details,

/*ANALYSIS - Redlines for Analysis */
/* * {
  outline: 1px solid red;
} */


/*DEFINITION*/
body {
  /* background-color: rgb(16, 185, 53) !important; */
  font-family: "Open Sans", sans-serif;
  margin: 0;
  line-height: 1.85em;
  color: #535353;
  /* background-color: #ffffff; */
}

main {
  background-color: #ffffff;
}

/* Navigation */
.navbar {
  background-color: #303030;
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
}

.navbar a {
  padding: 0.2em 0.2em 0.2em 0.2em;
  margin: 0.2em 0.2em 0.2em 0.2em;
  font-weight: 600;
  color: #ffffff;
}

.navbar .container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly; /* Zentriert die Navigationselemente horizontal */
  align-items: center; /* Optional: Zentriert Elemente vertikal, falls nötig */
  width: 100%;
  font-size: 1em;
}

.navbar .container li a {
  color: #ffffff;
  text-decoration: none;
  padding: 1em;
  display: block;
}

.navbar .container li a:hover {
  background-color: #b4201f;
}

main {
  padding-top: 5em; /* Platz für das fixe Menü schaffen */
}

.head-logo {
  width: 20em;
  height: auto;
}

header {
  padding: 1em 1em 1em 1em;
  text-align: center;
  max-width: 100rem;
}

ul {
  list-style: none;
  padding-left: 0em; /* Fügt einen Abstand von der linken Seite hinzu */
  list-style-position: inside;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px transparent;
  box-sizing: border-box;
}

.row > * {
  float: left;
  box-sizing: border-box;
}

/* Kacheln */
.tile {
  width: 25em;
  /* clear: none; */
  margin: 1rem;
}

.tile-big {
  width: 75em;
  /* clear: none; */
  margin: 1rem;
}
a:hover {
  color: #a7caff;
}

a img {
  border: 0;
}

blockquote {
  font-style: italic;
}

h1 {
  font-size: 3rem;
  color: #303030;
  font-weight: bold;
}

h2 {
  font-size: 2.5rem;
  color: #303030;
  font-weight: bold;
  margin: 0 0 0.75em 0;
  & a {
    text-decoration: none;
    color: inherit;
  }
}

h3 {
  font-size: 1.6rem;
  color: #303030;
  font-weight: bold;
  margin: 0 0 0.75em 0;
  & a {
    text-decoration: none;
    color: inherit;
  }
}

h4 {
  font-size: 1.3rem;
  color: #303030;
  font-weight: 600;
  margin: 0 0 0 0;
  & a {
    text-decoration: none;
    color: inherit;
  }
}

h5 {
  font-size: 2.5rem;
  color: #ffffff;
  font-weight: bold;
  text-shadow: none;
  & a {
    text-decoration: none;
    color: inherit;
  }
}

h6 {
  font-size: 1.2rem;
  color: #303030;
  font-weight: 600;
  margin: 0 0 0 0;
  & a {
    text-decoration: none;
    color: inherit;
  }
}

.custom-p {
  font-size: 1.2rem;
  color: #303030;
  line-height: 1.4em;
  font-weight: 450; /* Oder 600 für etwas mehr Gewicht */
}

.contact-p {
  margin-bottom: 30.2rem;
  font-size: 1.2rem;
  color: #ffffff;
  text-shadow: none;
}

p {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  color: #303030;
}

.solutions {
  list-style: circle; /* Entfernt die Standard-Aufzählungszeichen */
  padding-left: 100; /* Entfernt den Standard-Abstand links */
  & li {
    text-align: left;
  }
}

li {
  font-size: 1.1rem;
  color: #303030;
}

article {
  margin-bottom: 3em;
}

section {
  width: 100%;
}

/* Für Darstellung mit Zeilenumbruch - bei Referenzen verwende */
section > :last-child,
article > :last-child,
section:last-child,
article:last-child {
  margin-bottom: 0;
}

/* Image */

.image {
  display: inline-block;
  position: relative;
}

.image img {
  display: block;
  width: 100%;
}

.image-linkedin {
  width: 2.5em;
  height: auto;
}

.refimage {
  display: flex;
  justify-content: center; /* Logo horizontal zentrieren */
  align-items: center; /* Logo vertikal zentrieren */
  width: 180px; /* Einheitliche Breite für alle Logos */
  height: 120px; /* Einheitliche Höhe für alle Logos */
  background-color: #fff; /* Hintergrund für transparente Logos */
  border: 1px solid #ddd; /* Optional: leichter Rahmen */
  padding: 10px; /* Abstand zum Rand */
  overflow: hidden; /* Falls das Logo größer ist, bleibt es in der Box */
}

.refimage img {
  max-width: 100%; /* Maximale Breite auf Containergröße anpassen */
  max-height: 100%; /* Maximale Höhe auf Containergröße anpassen */
  object-fit: contain; /* Skaliert das Logo proportional ohne Verzerrung */
}

/* Button */

/* input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button {
  position: relative;
  display: inline-block;
  color: #ffffff;
  width: 75%;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  border: 0;
  outline: 0;
  cursor: pointer;
  border-radius: 8px;
  text-shadow: -1px -1px 0.5px #303030;
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px #303030, inset 0px 2px 1px 0px #ffffff;
  background-color: #b4201f;
} */

.big {
  padding: 1em 1em;
  /* width: 500em; */
  height: 2em;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover,
.button:hover {
  background-color: #460000;
  color: #ffffff;
}

/* Box */

.box {
  padding: 2rem;
  background: #ffffff;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15),
    0px 2px 3px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.box.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  box-sizing: border-box;
  background-color: #ffffff;
  height: 40em;
}

.box.portal {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  box-sizing: border-box;
  background-color: #ffffff;
}

.box.technologies {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  box-sizing: border-box;
  background-color: #ffffff;
  height: 27em;
}

/* .box.references {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  background-color: #ffffff;
  height: 22.5em;
} */

.box.references {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 16px;
}

.box.references ul {
  padding-left: 30px; /* Abstand zwischen Box-Rand und Aufzählung */
  list-style-position: outside; /* Bulletpoints bleiben außerhalb des Textblocks */
}

.box.partner {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  box-sizing: border-box;
  background-color: #ffffff;
  height: 28rem;
}

.box.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  box-sizing: border-box;
  background-color: #ffffff;
  height: 60rem;
}

/* Icons */

.icon {
  text-decoration: none;
}

.icon:before {
  display: inline-block;
  font-family: FontAwesome;
  font-size: 1.25em;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon > .label {
  display: none;
}

.icon.featured {
  color: #ea8a95;
  /* color: #b4201f; */
  font-size: 5em;
  display: inline-flex;
  margin: 0 0 0 0;
  cursor: default;
}

/* Wrappers */

.wrapper {
  padding: 7em 0 7em 0; /*vergrössert wrapper*/
  text-align: center;
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  align-items: center;
  /* box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.05); */
  /* inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1); */
}

.wrapper.first {
  /* padding-top: 12em; */
  box-shadow: none;
}

.wrapper.style1 {
  background-image: none;
  background-color: #ffffff;
}

.wrapper.style2 {
  background-color: #f4f4f4;
  /* text-shadow: 1px 1px 0px #ffffff; */
}

.wrapper.style3 {
  background-color: #fafafa;
  /* text-shadow: 1px 1px 0px #f4f4f4; */
}

.wrapper.style4 {
  background-color: #303030;
  /* text-shadow: 1px 1px 0px #f4f4f4; */
}

/*Home-Logo auf Mobile Menu*/
.home {
  display: flex;
  position: absolute;
  left: 1em;
  top: 1em;
}

.home img {
  height: 2.3em;
  position: absolute;
  left: 0.5em;
}

/* Mail Icon auf Mobile Menu*/
/* .email-icon {
  display: none;
} */

.email-icon {
  display: flex;
  position: absolute;
  right: 0em;
  top: 1em;
}

.icon.email {
  font-size: 1.8em;
  position: absolute;
  top: 0em;
  right: 1em;
  color: #ffffff;
  /* cursor: default; */
}

/* Hamburger-Button Menu für Mobile */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  width: 2.5em;
  height: 1.8em;
  justify-content: space-between;
  position: absolute;
  top: 0.7em;
  right: 0.5em;
}

.hamburger span {
  display: block;
  height: 4px;
  width: 100%;
  background-color: #ffffff;
}

/*TOP*/
#top {
  text-align: center;
}

#top .image {
  width: 30em;
}

#top h1 {
  margin-top: 0.35em;
}

#top p {
  font-size: 1.5em;
  line-height: 1.75em;
}

#demo {
  scroll-margin-top: 80px; /* Passt den Scrollabstand an */
}
/* .content {
  max-width: 1200px;
} */
