@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600,600italic,700");
@import url("font-awesome.min.css");

/*
	Main CSS
	itflies.ch
	06.09.2024 kom: created new
*/

/* Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
nav2 section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* Box Model */

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Containers */

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container.\31 25\25 {
  width: 100%;
  /* max-width: 1200px;
  min-width: 960px; */
}

.container.\37 5\25 {
  width: 100%;
  /* width: 720px; kom 09.09.24*/
}

.container.\35 0\25 {
  width: 100%;
  /* width: 480px; kom 09.09.24*/
}

.container.\32 5\25 {
  width: 100%;
  /* width: 240px; kom 09.09.24*/
}

/* .container {
  width: 100%;
  /* width: 960px; kom 09.09.24
}*/

/* Grid */

.row {
  border-bottom: solid 1px transparent;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.row > * {
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.row:after,
.row:before {
  content: "";
  display: block;
  clear: both;
  height: 0;
}

.row.uniform > * > :first-child {
  margin-top: 0;
}

.row.uniform > * > :last-child {
  margin-bottom: 0;
}

.row.\30 \25 > * {
  padding: 0 0 0 0px;
}

.row.\30 \25 {
  margin: 0 0 -1px 0px;
}

.row.uniform.\30 \25 > * {
  padding: 0px 0 0 0px;
}

.row.uniform.\30 \25 {
  margin: 0px 0 -1px 0px;
}

.row > * {
  padding: 0 0 0 40px;
}

.row {
  margin: 0 0 -1px -40px;
}

.row.uniform > * {
  padding: 40px 0 0 40px;
}

.row.uniform {
  margin: -40px 0 -1px -40px;
}

.row.\32 00\25 > * {
  padding: 0 0 0 80px;
}

.row.\32 00\25 {
  margin: 0 0 -1px -80px;
}

.row.uniform.\32 00\25 > * {
  padding: 80px 0 0 80px;
}

.row.uniform.\32 00\25 {
  margin: -80px 0 -1px -80px;
}

.row.\31 50\25 > * {
  padding: 0 0 0 60px;
}

.row.\31 50\25 {
  margin: 0 0 -1px -60px;
}

.row.uniform.\31 50\25 > * {
  padding: 60px 0 0 60px;
}

.row.uniform.\31 50\25 {
  margin: -60px 0 -1px -60px;
}

.row.\35 0\25 > * {
  padding: 0 0 0 20px;
}

.row.\35 0\25 {
  margin: 0 0 -1px -20px;
}

.row.uniform.\35 0\25 > * {
  padding: 20px 0 0 20px;
}

.row.uniform.\35 0\25 {
  margin: -20px 0 -1px -20px;
}

.row.\32 5\25 > * {
  padding: 0 0 0 10px;
}

.row.\32 5\25 {
  margin: 0 0 -1px -10px;
}

.row.uniform.\32 5\25 > * {
  padding: 10px 0 0 10px;
}

.row.uniform.\32 5\25 {
  margin: -10px 0 -1px -10px;
}

.\31 2u,
.\31 2u\24 {
  width: 100%;
  clear: none;
  margin-left: 0;
}

.\31 1u,
.\31 1u\24 {
  width: 91.6666666667%;
  clear: none;
  margin-left: 0;
}

.\31 0u,
.\31 0u\24 {
  width: 83.3333333333%;
  clear: none;
  margin-left: 0;
}

.\39 u,
.\39 u\24 {
  width: 75%;
  clear: none;
  margin-left: 0;
}

.\38 u,
.\38 u\24 {
  width: 66.6666666667%;
  clear: none;
  margin-left: 0;
}

.\37 u,
.\37 u\24 {
  width: 58.3333333333%;
  clear: none;
  margin-left: 0;
}

.\36 u,
.\36 u\24 {
  width: 50%;
  clear: none;
  margin-left: 0;
}

.\35 u,
.\35 u\24 {
  width: 41.6666666667%;
  clear: none;
  margin-left: 0;
}

.\34 u,
.\34 u\24 {
  width: 33.3333333333%;
  clear: none;
  margin-left: 0;
}

.\33 u,
.\33 u\24 {
  width: 25%;
  clear: none;
  margin-left: 0;
}

.\32 u,
.\32 u\24 {
  width: 16.6666666667%;
  clear: none;
  margin-left: 0;
}

.\31 u,
.\31 u\24 {
  width: 8.3333333333%;
  clear: none;
  margin-left: 0;
}

.\31 2u\24 + *,
.\31 1u\24 + *,
.\31 0u\24 + *,
.\39 u\24 + *,
.\38 u\24 + *,
.\37 u\24 + *,
.\36 u\24 + *,
.\35 u\24 + *,
.\34 u\24 + *,
.\33 u\24 + *,
.\32 u\24 + *,
.\31 u\24 + * {
  clear: left;
}

.\-11u {
  margin-left: 91.66667%;
}

.\-10u {
  margin-left: 83.33333%;
}

.\-9u {
  margin-left: 75%;
}

.\-8u {
  margin-left: 66.66667%;
}

.\-7u {
  margin-left: 58.33333%;
}

.\-6u {
  margin-left: 50%;
}

.\-5u {
  margin-left: 41.66667%;
}

.\-4u {
  margin-left: 33.33333%;
}

.\-3u {
  margin-left: 25%;
}

.\-2u {
  margin-left: 16.66667%;
}

.\-1u {
  margin-left: 8.33333%;
}

/* Basic */

body,
input,
textarea,
select {
  font-family: "Open Sans", sans-serif;
  line-height: 1.85em;
  color: #535353;
  font-weight: 300;
}

body.is-loading *,
input.is-loading *,
textarea.is-loading *,
select.is-loading * {
  -moz-transition: none;
  -webkit-transition: none;
  -ms-transition: none;
  transition: none;
  -moz-animation: none;
  -webkit-animation: none;
  -ms-animation: none;
  animation: none;
}

a {
  -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  color: #396fe6;
  text-decoration: underline;
}

a:hover {
  color: #a7caff;
}

a img {
  border: 0;
}

b,
strong {
  font-weight: 600;
  color: #535353;
}

i,
em {
  font-style: italic;
}

sub {
  position: relative;
  top: 0.5em;
  font-size: 0.8em;
}

sup {
  position: relative;
  top: -0.5em;
  font-size: 0.8em;
}

blockquote {
  /* border-left: solid 0.75em #eee; */
  /* padding: 1em 0 1em 1.5em; */
  font-style: italic;
  /* font-size: 1.3em; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #535353;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none;
  color: inherit;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-weight: 300;
}

h1 strong {
  font-weight: 700;
}

em,
i {
  font-style: italic;
}

br.clear {
  clear: both;
}

hr {
  border: 0;
  border-top: solid 1px #444;
  border-top-color: rgba(0, 0, 0, 0.35);
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
  height: 1px;
  margin: 3em 0 4em 0;
}

p,
ul,
ol,
dl,
table {
  margin-bottom: 2em;
}

/* Section/Article */

section,
article {
  margin-bottom: 3em;
}

section > :last-child,
article > :last-child,
section:last-child,
article:last-child {
  margin-bottom: 0;
}

/* Image */

.image {
  display: inline-block;
  position: relative;
}

.image img {
  display: block;
  width: 100%;
}

.image.fit {
  display: block;
  width: 100%;
}

.image.featured {
  display: block;
  width: 100%;
  margin: 0 0 2em 0;
}

.image.left {
  float: left;
  margin: 0 2em 2em 0;
}

.image.centered {
  display: block;
  margin: 0 0 2em 0;
}

.image.centered img {
  margin: 0 auto;
  width: auto;
}

.image.linkedin {
  width: 2px;
  height: 2px;
}

/* Button */

input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button {
  background-image: url("images/bg.png"),
    -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: url("images/bg.png"),
    -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: url("images/bg.png"),
    -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: url("images/bg.png"),
    linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  -moz-transition: background-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  /* -webkit-appearance: none; */
  position: relative;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  border: 0;
  outline: 0;
  cursor: pointer;
  border-radius: 8px;
  text-shadow: -1px -1px 0.5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.5),
    inset 0px 2px 1px 0px rgba(255, 255, 255, 0.75);
  background-color: #b4201f;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover,
.button:hover {
  background-color: #460000;
  color: #fff;
}

input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
button:active,
.button:active {
  background-color: #3ba8d3;
  top: 1px;
}

input[type="button"].alt,
input[type="submit"].alt,
input[type="reset"].alt,
button.alt,
.button.alt {
  background-color: #444;
  box-shadow: inset 0px 0px 0px 1px #242424,
    inset 0px 2px 1px 0px rgba(255, 255, 255, 0.2);
}

input[type="button"].alt:hover,
input[type="submit"].alt:hover,
input[type="reset"].alt:hover,
button.alt:hover,
.button.alt:hover {
  background-color: #4f4f4f;
  color: #fff;
}

input[type="button"].alt:active,
input[type="submit"].alt:active,
input[type="reset"].alt:active,
button.alt:active,
.button.alt:active {
  background-color: #3f3f3f;
}

/* Box */

.box {
  background: #fff;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15),
    0px 2px 3px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Icons */

.icon {
  text-decoration: none;
}

.icon:before {
  display: inline-block;
  font-family: FontAwesome;
  font-size: 1.25em;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon > .label {
  display: none;
}

.icon.featured {
  color: #ea8a95;
  font-size: 5em;
  display: block;
  margin: 0 0 0.5em 0;
  cursor: default;
}

/*.icon.featured:before {
				font-size: 6em;
				color:#EA8A95 ;
			} */

/* Wrappers */

.wrapper {
  display: flex; /*MKO 09.09.24 test*/
  flex-direction: column;
  width: 100%;
  align-items: center;
  box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.05),
    inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
}

.wrapper.first {
  box-shadow: none;
}

.wrapper.style1 {
  background-image: none;
  background-color: #ffffff;
}

.wrapper.style2 {
  background-color: #ffffff;
  text-shadow: 1px 1px 0px #ffffff;
}

.wrapper.style3 {
  background-color: #f4f4f4;
  text-shadow: 1px 1px 0px #ffffff;
}

.wrapper.style4 {
  /* background-color: #303030;
			height: 5ch;
			color: #303030;
			text-shadow: -1px -1px 0px #181818; */
  background-color: #303030;
  text-shadow: 1px 1px 0px #ffffff;
}

/* .wrapper.style4 h1, .wrapper.style4 h2, .wrapper.style4 h3, .wrapper.style4 h4, .wrapper.style4 h5, .wrapper.style4 h6 {
				color: #ffffff;
			}

			.wrapper.style4 form input[type=text],
			.wrapper.style4 form input[type=password],
			.wrapper.style4 form select,
			.wrapper.style4 form textarea {
				border: none;
				background: #303030;
			}

				.wrapper.style4 form input[type=text]:focus,
				.wrapper.style4 form input[type=password]:focus,
				.wrapper.style4 form select:focus,
				.wrapper.style4 form textarea:focus {
					background: #303030;
				} */

/* Nav */

#nav {
  background-color: #303030;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
}

#nav .container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly; /* Zentriert die Navigationselemente horizontal */
  align-items: center; /* Optional: Zentriert Elemente vertikal, falls nötig */
  width: 100%;
}

#nav .container li {
  margin-right: 20px;
}

#nav .container li:last-child {
  margin-right: 0; /* Entfernt den rechten Abstand beim letzten Element */
}

#nav .container li a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  display: block;
}

#nav .container li a:hover {
  background-color: #575757;
}

/* Hamburger-Button Menu für Mobile */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  width: 30px;
  height: 25px;
  justify-content: space-between;
  position: absolute;
  top: 10px;
  right: 10px;
}

.hamburger span {
  display: block;
  height: 4px;
  width: 100%;
  background-color: #ffffff;
}

/* Articles */

#top .image {
  border-radius: 50%;
}

#top p a {
  color: inherit;
}
