/*!
 * itFlies GmbH Website by @itflies.ch - https://itflies.ch
 * Copyright 2025 itFlies GmbH
 */

/* @font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v40-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ 
} */

/* @media (max-width: 1300px) { */
@media (max-width: 1124px) {
  /* Reset */

  body {
    /* background-color: rgb(247, 52, 4) !important; */
    font-family: "Open Sans", sans-serif;
    line-height: 1.85em;
    color: #535353;
  }

  .home {
    display: flex;
    left: 0em;
    top: 0em;
  }

  .head-logo {
  display: block;
  margin: 0 auto;
  max-width: 25rem;
  max-height:25rem;
  }

  .contact-icon {
    font-size: 1.3rem;
    display: flex;
    position: absolute;
    right: 2.6rem;
    top: 0.5rem;
  }
  .content {
    padding-top: 10px; /* Höhe des Navigationsmenüs + etwas Puffer */
  }

  .desktop {
    white-space: nowrap;
  }

  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  /* .row {
    display: block;
    align-items: center;
  } */

  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tile {
    width: 100%;
    margin: 1rem auto;
    padding: 0em 1em 0em 1em;
  }

  .tile-big {
    width: 100%;
    margin: 1rem auto;
    padding: 0em 1em 0em 1em;
  }

  h1 {
    font-size: 1.3rem;
    color: #303030;
    font-weight: 600;
    white-space: normal; /* Erlaubt Umbrüche */
    text-align: center; /* Optional für bessere Optik */
  }

  h2 {
    font-size: 1.9rem;
    color: #303030;
    line-height: 1.25rem;
  }

  h3 {
    font-size: 1.4rem;
    font-weight: bold;
    color: #303030;
  }

  h4 {
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-bottom: 0.5rem;
  }
  h5 {
    font-size: 2rem;
    color: #ffffff;
    text-shadow: none;
  }

  h6 {
    font-size: 1.1rem;
    font-weight: 600;
    color: #303030;
    text-shadow: none;
  }

  p {
    font-size: 1rem;
    /* line-height: 1.7em; */
  }

  .custom-p {
    font-size: 1.1rem;
    line-height: 2rem;
    color: #303030;
    font-weight: 450;
    /* line-height: 1.8em; */
  }

  .titel-pi {
    font-size: 2.2rem !important;
    line-height: 2.8rem;
    font-weight: 500;
    display: block;
  }

  .titel-p {
    font-size: 2.6rem !important;
    line-height: 2.8rem;
    font-weight: 900;
    display: block;
  }

  .contact-p {
    font-size: 1.1rem;
    line-height: 2rem;
    font-weight: 450;
    color: #ffffff;
    text-shadow: none;
  }

  li {
    font-size: 1rem;
    color: #303030;
  }

  #nav {
    height: 3.2em;
    background-color: #303030;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  #nav ul {
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50px;
    right: 10px;
    background-color: #303030;
    width: 100%;
  }

  #nav ul.active {
    display: flex;
  }

  #nav ul li {
    margin-right: 0;
    border-bottom: 1px solid #ffffff;
  }

  #nav ul li a {
    padding: 2px;
    text-align: center;
  }

  #menu {
    /*display: none; /* Menü auf mobilen Geräten ausblenden */
    position: fixed; /* Menü bleibt immer sichtbar, auch beim Scrollen der Seite */
    height: 75vh; /* Höhe des Menüs auf die volle Höhe des Viewports */
    background-color: #333; /* Hintergrundfarbe des Menüs */
    color: white; /* Textfarbe */
    overflow-y: scroll; /* Scrollbar immer anzeigen */
    box-sizing: border-box; /* Padding und Border in die Höhe einbeziehen */
    transform: translateX(-100%); /* Menü standardmäßig ausblenden */
    transition: transform 0.3s ease; /* Übergangseffekt für das Einblenden */
    z-index: 1001; /* Sicherstellen, dass das Menü über dem Hauptinhalt liegt */
  }

  #menu.active {
    display: block; /* Menü anzeigen, wenn aktiv */
    top: 3.2em;
    right: 0;
    text-align: right;
    transform: translateX(0); /* Menü einblenden */
  }
  #menu a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    box-sizing: border-box; /* Padding und Border in die Höhe einbeziehen */
  }

  #menu a:hover {
    background-color: #555; /* Hover-Effekt für Links */
  }

  .hamburger {
    display: flex; /* Hamburger-Menü auf mobilen Geräten anzeigen */
  }

  #nav .container {
    display: none;
  }

  .navbar .container li a {
    color: #ffffff;
    text-decoration: none;
    padding: 0em;
    display: block;
  }

  header {
    /* width: 100dvw; */
    padding: 1em 1em 1em 1em;
    text-align: center;
  }

  article {
    margin-bottom: 3em;
  }

  /* Wrappers */

  .wrapper {
    padding: 3.5em 0 3.5em 0; /*vergrössert wrapper*/
    text-align: center;
  }

  .wrapper.first {
    padding-top: 2em;
  }

  /* Button */

  input[type="button"],
  input[type="submit"],
  input[type="reset"],
  button,
  .button {
    text-align: center;
    font-size: 1em;
    width: 90%;
    padding: 1em 0 1em 0;
  }

  /* Box */

  .box {
    padding: 1em 1em 1em 1em;
  }

  .box h3 {
    margin-bottom: 1.25em;
  }

  .box.services {
    background-color: #ffffff;
    height: auto;
    padding: 3em 2em 3.5em 2em;
  }
  .box.services h3 {
    margin-bottom: 0.5em;
    font-size: 1.5em;
    color: #303030;
  }

  .box.portal {
    background-color: #ffffff;
    height: auto;
    padding: 3em 2em 3.5em 2em;
  }

  .box.technologies {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: 100%;
    box-sizing: border-box;
  }

  .box.project-management {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: 100%;
    box-sizing: border-box;
  }

  .box.references {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: 100%;
    box-sizing: border-box;
  }

  .box.references img {
    margin-bottom: 15px; /* Abstand nach unten */
    margin-top: 20px; /* Optional: Abstand nach oben */
    max-width: 100%; /* Verhindert, dass Bilder zu groß werden */
    display: block; /* Entfernt ungewollte Abstände durch Inline-Elementverhalten */
  }

  .box.partner {
    background-color: #ffffff;
    height: auto;
    align-items: center;
  }

  .box.about {
    background-color: #ffffff;
    height: auto;
    align-items: center;
  }

  /* Icons */

  .icon {
    text-decoration: none;
  }

  .icon:before {
    display: inline-block;
    font-family: FontAwesome;
    font-size: 1.25em;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon > .label {
    display: none;
  }

  .icon.featured {
    color: #ea8a95;
    /* color: #b4201f; */
    font-size: 3.5rem;
    display: inline-flex;
    margin: 0 0 0 0;
    /* margin-bottom: 20px; */
    cursor: default;
  }

  #top .image {
    width: 10%;
    height: auto;
    margin: 0 auto 1.75em auto;
  }
  #top .container {
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 100%; /* Wichtig */
    box-sizing: border-box; /* Respektiert Padding */
  }

  #intro .container {
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 100%; /* Wichtig */
    box-sizing: border-box; /* Respektiert Padding */
  }

  .intro-block {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }

  .intro-block-project {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }

  .intro-titel {
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 10px; /* optional */
  }

  #intro p {
    font-size: 1.2rem;
    line-height: 1.5em;
  }

  .kontakt-hinweis {
    text-align: center;
    font-size: 1em; /* kleiner als vorher 1.8em */
    margin-top: 30px;
    line-height: 1;
  }

  .kontakt-hinweis .icon {
    font-size: 1.2em;
  }
}
