/*
	CSS for Mobile
	itflies.ch
	10.09.2024 kom: created new
*/
@media (max-width: 767px) {
  .container {
    width: 100%;
  }

  .home {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .home img {
    height: 30px;
    position: absolute;
    margin-top: -20px;
    margin-left: -20px;
  }

  .container {
    width: 100%;
  }

  .row > * {
    padding: 15px 0 0 15px;
  }

  .row {
    margin: -15px 0 -1px -15px;
  }

  .tile {
    width: 100%;
    clear: none;
    margin-left: 0;
  }

  .tile2 {
    width: 100%;
    clear: none;
    margin-left: 0;
  }

  body {
    line-height: 1.75em;
    font-size: 10pt;
    letter-spacing: 0;
  }

  h1 {
    font-size: 2.2em;
    line-height: 1.25em;
  }

  h2 {
    font-size: 1.9em;
    color: #303030;
    line-height: 1.25em;
  }

  h3 {
    font-size: 1.5em;
    color: #303030;
  }

  h4 {
    font-size: 1em;
    line-height: 1.25em;
  }
  h5 {
    font-size: 2em;
    color: #ffffff;
    text-shadow: none;
  }

  h6 {
    font-size: 1.15em;
    font-weight: normal;
    color: #ffffff;
    text-shadow: none;
    /* letter-spacing: -0.015em; */
  }

  li {
    font-size: 1.2em;
  }

  p {
    font-size: 1.15em;
    line-height: 1.7em;
  }

  header {
    margin: 0 0 2em 0;
  }

  hr {
    margin: 1.5em 0 2em 0;
  }

  blockquote {
    font-style: italic;
    font-size: 1.1em;
  }
  /* Navigation */
  #nav {
    height: 45px;
    background-color: #303030;
    padding: 22px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  #nav ul {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: #303030;
    width: 100%;
  }

  #nav ul.active {
    display: flex;
  }

  #nav ul li {
    margin-right: 0;
    border-bottom: 1px solid #ffffff;
  }

  #nav ul li a {
    padding: 15px;
    text-align: center;
  }

  #menu {
    display: none; /* Menü auf mobilen Geräten ausblenden */
  }

  #menu.active {
    display: block; /* Menü anzeigen, wenn aktiv */
    top: 45px;
    right: 0; /* Menü sichtbar machen, wenn aktiv */
    text-align: right;
  }

  .hamburger {
    display: flex; /* Hamburger-Menü auf mobilen Geräten anzeigen */
  }

  #nav .container {
    display: none;
  }
}

/* Section/Article */

section,
article {
  clear: both;
}

/* Button */

input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button {
  text-align: center;
  font-size: 1em;
  width: 100%;
  padding: 1em 0 1em 0;
}

/* Box */

.box {
  padding: 30px 20px 30px 20px;
  margin: 0 0 20px 0;
}

.box h3 {
  margin-bottom: 0.25em;
}

.box .image.centered {
  margin-bottom: 1em;
}

.box .image.featured {
  position: relative;
  left: 20px;
  top: 20px;
  margin: -50px 0 50px -40px;
  width: auto;
}

.box.services {
  background-color: #ffffff;
  height: 52ch;
  padding: 3em 2em 3.5em 2em;
}
.box.services h3 {
  margin-bottom: 0.5em;
  font-size: 1.5em;
  color: #303030;
}

.box.technologies {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 40ch;
  width: 100%;
  box-sizing: border-box;
  & img {
    width: 100%;
    height: auto;
  }
  & .description {
    text-align: left;
    padding: 0.5rem;
    list-style: circle;
  }
  & .image.fit {
    max-height: 5ch;
  }
}

.box.references {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 50ch;
  width: 100%;
  box-sizing: border-box;
  & img {
    width: 100%;
    height: auto;
  }
  & .description {
    text-align: left;
    padding: 0.5rem;
    list-style: circle;
  }
  & .image.fit {
    max-height: 5ch;
  }
}

.box.partner {
  background-color: #ffffff;
  height: 45ch;
  align-items: center;
}

.box.about {
  background-color: #ffffff;
  height: 104ch;
  align-items: center;
  & img {
    width: 100%;
    height: auto;
  }
  & .description {
    text-align: left;
    list-style: circle;
  }
}

/* Wrappers */

.wrapper {
  padding: 3em 15px 3em 15px;
  text-align: center;
}

.wrapper.first {
  padding-top: 5em;
}

/* Nav */

#nav a {
  padding: 0.5em;
}

/* Articles */

#top .image {
  width: 70%;
  height: auto;
  margin: 0 auto 1.75em auto;
}
