@font-face {
  font-family: "Open Sans";
  src: url("/assets/fonts/open-sans-v40-latin-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Open Sans", sans-serif;
}
