/*
	CSS for Tablet
	itflies.ch
	10.09.2024 kom: created new
*/
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    font-size: 13pt;
  }

  .container {
    width: 768px;
  }

  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px transparent;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .row > * {
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  h1 {
    font-size: 3.25em;
    color: #303030;
  }

  h2 {
    font-size: 2em;
    color: #303030;
  }

  h3 {
    font-size: 1.5em;
    color: #303030;
    /* letter-spacing: -0.015em; */
  }

  h5 {
    font-size: 2em;
    color: #ffffff;
    text-shadow: none;
    /* letter-spacing: -0.015em; */
  }

  h6 {
    font-size: 1.15em;
    font-weight: normal;
    color: #ffffff;
    text-shadow: none;
    /* letter-spacing: -0.015em; */
  }

  li {
    font-size: 1.15em;
    color: #303030;
    /* letter-spacing: -0.015em; */
  }

  p {
    font-size: 1.15em;
    color: #303030;
    /* letter-spacing: -0.015em; */
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 0.75em 0;
  }

  header {
    margin: 0 0 3em 0;
  }

  /* Button */

  button.big,
  .button.big {
    font-size: 1.5em;
  }

  /* Box */

  .box {
    padding: 2em;
  }

  .box.services h3 {
    margin-bottom: 0.5em;
    color: #303030;
  }

  .box.style2 h3 {
    margin-bottom: 0.25em;
  }

  .box.style2 .image {
    position: relative;
    left: 2em;
    top: 2em;
    margin: -4em 0 4em -4em;
    width: auto;
  }

  .box.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    box-sizing: border-box;
    height: 60ch;
    padding: 3em 2em 3.5em 2em;
  }

  .box.technologies {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 40ch;
    width: 100%;
    box-sizing: border-box;
    & img {
      width: 100%;
      height: auto;
    }
    */ & .image.fit {
      max-height: 5ch;
    }
  }

  .box.references {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 40ch;
    width: 100%;
    box-sizing: border-box;
    & img {
      width: 100%;
    }
    & .description {
      text-align: left;
      padding: 0.5rem;
      list-style-type: circle;
    }
    & .image.fit {
      max-height: 5ch;
    }
  }

  .box.partner {
    background-color: #ffffff;
    height: 50ch;
    align-items: center;
  }

  .box.about {
    background-color: #ffffff;
    height: 105ch;
    align-items: center;
    & img {
      width: 100%;
      height: auto;
    }
  }

  .box.contact {
    background-color: #303030;
    height: 45ch;
    align-items: center;
  }

  /* Wrappers */

  .wrapper {
    padding: 8em 0 8em 0;
    text-align: center;
  }

  .wrapper.first {
    padding-top: 12em;
  }

  /* Navigation */

  .hamburger {
    display: none;
  }
  .home {
    display: none;
  }
  #nav a {
    padding: 0.2em 0.2em 0.2em 0.2em;
    margin: 0.2em 0.2em 0.2em 0.2em;
    font-weight: 600;
    color: #ffffff;
  }
}

#nav .container {
  font-size: 1em;
}

/* Articles */

#top {
  text-align: center;
}

#top .image {
  width: 20em;
}

#top h1 {
  margin-top: 0.35em;
}

#top p {
  font-size: 1.5em;
  line-height: 1.75em;
}
